<%= render 'layouts/error_messages' %>

<%= form_with model: user, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, 'ユーザー名(15字以内)' %>
    <%= render 'layouts/must_badge' %>
    <%= f.text_field :name, class: 'form-control', placeholder: '小文字英数字で入力してください' %>
  </div>
  <div class="form-group">
    <%= f.label :user_name, '名前(10字以内)' %>
    <%= render 'layouts/must_badge' %>
    <%= f.text_field :user_name, class: 'form-control', placeholder: '10文字以内で入力してください' %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'パスワード(8字以上、15字以内)' %> 
    <%= render 'layouts/must_badge' %>
    <%= f.password_field :password, class: 'form-control', placeholder: '8文字以上で入力してください' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, 'パスワード（確認）' %>
    <%= render 'layouts/must_badge' %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'もう一度パスワードを入力してください' %>
  </div>
  <div class="form-group">
    <%= f.label :image, class: "image__input btn btn-primary" do %>
      <%= icon "fas", "image" %> 画像をアップロード
      <%= f.file_field :image, class: "image__form" %>
    <% end %>
  </div>

  <%= f.submit '作成', class: 'btn btn-primary' %>
<% end %>


