<%= render 'layouts/error_messages' %>

<%= form_with model: user do |f| %>
  <div class="form-group">
    <%= f.label :name, 'ユーザー名' %>
    <%= f.text_field :name, class: 'form-control', placeholder: '小文字英数字で入力してください' %>
  </div>
  <div class="form-group">
    <%= f.label :user_name, '名前' %>
    <%= f.text_field :user_name, class: 'form-control', placeholder: '10文字以内で入力してください' %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class: 'form-control', placeholder: '8文字以上で入力してください' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, 'パスワード（確認）' %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'もう一度パスワードを入力してください' %>
  </div>
  <div class="form-group">
    <%= f.label :image, '画像' %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>

  <%= f.submit '作成', class: 'btn btn-primary' %>
<% end %>