<% provide(:title, current_user?(@user) ? "マイページ" : "#{@user.user_name}のページ") %>


<div class="d-flex align-items-center mt-4 mb-4">
  <% if current_user?(@user) %>
    <h1>
      <%= image_tag @user.image.thumb1.url, class: 'trim-image-to-circle show__boardTitleImg' %>
      マイページ
    </h1>
  <% else %>
    <h1>
      <%= image_tag @user.image.thumb1.url, class: 'trim-image-to-circle show__boardTitleImg' %>
      <%= @user.user_name %>のページ
    </h1>
  <% end %>
  <div class="ml-auto boards__linkBox">
    <%= link_to "掲示板一覧", boards_path, class: "btn btn-outline-primary" %>
    <% if current_user?(@user) %>
      <%= link_to "掲示板作成", new_board_path, class: "btn btn-outline-primary" %>
      <%= link_to "編集", edit_user_path, class: "btn btn-outline-success" %>
    <% end %>
  </div>
</div>

<%= render 'layouts/notice_message'  %>

<%= render partial: 'layouts/boards_list', locals: { boards: @boards } %>





