<% provide(:title, current_user?(@user) ? "マイページ" : "#{@user.user_name}のページ") %>


<div>
  <h1>
    <%= image_tag @user.image.thumb1.url, class: 'trim-image-to-circle show__boardTitleImg' %>
    <% if current_user?(@user) %>
      <%= @user.user_name %>のマイページ
    <% else %>
      <%= @user.user_name %>のページ
    <% end %>
  </h1>
  <div class="ml-auto boards__linkBox top__items">
    <%= link_to "掲示板一覧", boards_path, class: "btn btn-outline-primary phone__invisible" %>
    <% if current_user?(@user) %>
      <%= link_to "掲示板作成", new_board_path, class: "btn btn-outline-primary" %>
      <%= link_to "編集", edit_user_path, class: "btn btn-outline-success" %>
    <% end %>
  </div>
</div>

<%= render 'layouts/notice_message'  %>

<h4>投稿掲示板</h4>
<% if !@boards.empty? %>
  <%= render partial: 'layouts/boards_list', locals: { boards: @boards } %>
<% else %>
  <p class="user__pageEmptyMsg">投稿した掲示板はありません</p>
<% end %>
<h4>いいねした投稿</h4>
<% if !@user.like_boards.empty? %>
  <%= render partial: 'layouts/boards_list', locals: { boards: @user.like_boards } %>
<% else %>
  <p class="user__pageEmptyMsg">いいねした投稿はありません</p>
<% end %>





