<% provide(:title, '掲示板一覧') %>

<div class="d-flex align-items-center">
  <h1>掲示板一覧</h1>
  <div class="ml-auto boards__linkBox">
    <%= form_with url: boards_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :category_id,
                     options_from_collection_for_select(Category.all, :id, :name, params[:category_id]),
                     {
                       prompt: 'カテゴリーを選択',
                       class: 'form-control boards_select',
                       onchange: 'submit(this.form);'
                     } %>
    <% end %>
    <%= link_to "新規作成", new_board_path, class: "btn btn-outline-primary" %>
  </div>
</div>
<%= paginate @boards %>
<%= render 'layouts/notice_message' %>
<%= render partial: 'layouts/boards_list', locals: { boards: @boards } %>

<%= paginate @boards %>