<% provide(:title, @board.title) %>

<div class="top__items">
  <h1>掲示板詳細</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to "一覧", boards_path, class: "btn btn-outline-primary" %>
    <% if @board.user_id == current_user.id %>
      <%= link_to "編集", edit_board_path, class: "btn btn-outline-success" %>
      <%= link_to "削除", @board, class: "btn btn-outline-danger", method: :delete, data: { confirm: "削除してもよろしいですか？" } %>
    <% end %>
  </div>
</div>

<%= render 'layouts/notice_message' %>

<div class="card">
  <div class="card-header">
    <h4><%= link_to image_tag(@board.user.image.thumb1.url, class: 'trim-image-to-circle show__boardTitleImg'), @board.user %><%= @board.title %></h4>
    <% @board.categories.each do |cate| %>
      <span class="badge badge-primary"><%= cate.name %></span>
    <% end %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= Rinku.auto_link(simple_format(@board.body), :all, 'target="_blank"').html_safe %></p>
    <p class="text-right font-weight-bold mr-10"><%= link_to @board.user.user_name, @board.user, class: "board__showName" %></p>
  </div>
</div>
<p><%= render 'likes/like', board: @board %></p>

<h4>いいねしたユーザー</h4>
<% if !@liking_users.empty? %>
  <% @liking_users.each do |user| %>
    <%= link_to image_tag(user.image.thumb1.url, class: 'trim-image-to-circle'), user %>
  <% end %>
  <% if @board.likes.count >= 11 %>
    <p class="board__showMoreText">and more...</p>
  <% end %>
<% else %>
  <p>いいねしたユーザーはまだいません</p>
<% end %>


<div class="comment__list">
  <h4 class="comment__count"><%= @board.comments.length %>件のコメント</h4>
  <%= render @board.comments %>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment } %>