<%= form_with model: category, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, 'カテゴリー名(10字以内)' %>
    <%= render 'layouts/must_badge' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.submit '作成', class: 'btn btn-primary' %>
<% end %>