<table class="table table-hover boards__table">
  <tbody>
    <% boards.each do |board| %>
      <tr>
        <th>
          <%= link_to image_tag(board.user.image.thumb1.url, class: 'trim-image-to-circle'), board.user %>
        </th>
        <td class="tab__invisible"><%= link_to board.title, board, class: "board__listTitle" %>
        <td class="tab__visible"><%= link_to board.title.truncate(13), board, class: "board__listTitle" %>
        <br><% board.categories.each do |cate| %>
              <span class="badge badge-primary"><%= cate.name %></span>
            <% end %>
        </td>
        <td><%= link_to board.name.truncate(6), board.user, class: "board__listTitle" %></td>
        <td class="tab__invisible"><%= board.updated_at.to_s(:datetime_jp) %>更新</td>
        <td class="tab__invisible"><%= link_to '詳細', board, class: "btn btn-outline-success" %></td>
        <td><%= render 'likes/like', board: board %></td>
      </tr>
    <% end %>
  </tbody>
</table>